## Specific files to be ignored by Git ##
/target/

## Netbeans specific files ##
/nbproject/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle

## ignore logs ##
*.log
